.wrapper {
  display: flex;
}

.chat-main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
}

.header-list {
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  &__leftbox {
    &__current-group {
      color :#333333;
      font-size: 20px;
      padding: 0px 40px;
      margin-top: 35px;
    }
    &__member-list {
      color :#999999;
      font-size :12px;
      padding: 0px 40px;
      display: flex;
      margin-top: 15px;
      &__member {
      }
    }
  }

  a {
    text-decoration: none;
  }

  &__edit-btn {
    color: #38aef0;
    font-size: 16px;
    width: 72px;
    margin-right: 40px;
    margin-top: 28px;
    cursor: pointer;
    padding: 0px 20px;
    border: solid 1px #38aef0;
    line-height: 40px;
  }
}


.main {
  background-color: #fafafa;
  height: calc(100vh - 190px);

  &__message-list {
    padding-left: 40px;
    padding-top: 35px;
    display: flex;
  }
    &__name {
      font-size: 16px;
      color: #333333;
      font-weight: bold;
    }
    &__date {
      color: #999999;
      font-size: 12px;
    }
    &__text {
      font-size: 14px;
      color: #434A54;
      padding-left: 40px;
      margin-top: 12px;
      margin-bottom: 46px;
    }
}

.chat-main__message-form {
  background-color: #d2d2d2;
  height: 90px;
  padding: 20px 40px;

  form {
    display: flex;
    .input-box {
      width: 100%;
      position: relative;
      &__text {
        height: 50px;
        width: 100%;
        color: #434a54;
        border-style: none;
        padding: 0 40px 0 10px;
      }
      &__image {
        position: absolute;
        margin-top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.3rem;
        &__file {
          display: none;
        }
      }
    }
    .submit-btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}